%html
  %head
    :css
        ul
        {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li.navBar
        {
          float: left;
        }
        
        li.navBarActive
        {
          float: left;
          background-color: #8d42f5;
        }
        
        li.navBar a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBar a:hover:not(.active)
        {
          background-color: #4287f5;
        }

        li.navBarActive a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBarActive a:hover:not(.active)
        {
          background-color: #4287f5;
        }    

        li.linkToProfessorItems
        {
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        
        
        
        .dropdown
        {
          float: left;
          overflow: hidden;
        }
        .dropdown .dropbtn 
        {
          display: none;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        .dropdown-content 
        {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        .dropdown-content a 
        {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        .dropdown-content a:hover 
        {
          background-color: #ddd;
        }
        .dropdown:hover .dropdown-content 
        {
          display: block;
        }

  %body
    %ul
      .navBar
      %li.navBar
        = link_to "Home", index_path
        
      .dropdown
        %button.dropbtn
          Menu
          %i.fa.fa-caret-down
        .dropdown-content
          %a{:href => "#"} Link 1
          %a{:href => "#"} Link 2

      %li.navBar{:style => "float:right"}
        = link_to "Log Out", destroy_user_session_path, :method => :delete
     
    %ul 
      %li.linkToProfessorItems
        = link_to "Papers Table", professor_path
      %li.linkToProfessorItems
        = link_to "Students Table", students_path
        

