%html
  %head
    :css
        ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li.navBar
        {
            float: left;
        }
        
        li.navBarActive
        {
            float: left;
            background-color: #8d42f5;
        }
        
        li.navBar a
        {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li.navBar a:hover:not(.active)
        {
            background-color: #4287f5;
        }

        li.navBarActive a
        {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li.navBarActive a:hover:not(.active)
        {
            background-color: #4287f5;
        }    

        li.linkToProfessorItems
        {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
  %body
    %ul
      %li.navBar
        = link_to "Home", index_path
        
      %li.navBar{:style => "float:right"}
        = link_to "Log Out", destroy_user_session_path, :method => :delete
     
     
    %ul 
      %li.linkToProfessorItems
        = link_to "Papers Table", papers_path
      %li.linkToProfessorItems
        = link_to "Students Table", students_path